{
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "linebreak-style": "off",
    "comma-dangle": ["error", "never"],
    "no-undef": "off"
  }
}
